@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.title {
  margin: 30px auto;
  width: 60%;
  text-align: center;
}

.title h1 {
  margin: auto;
  font-size: 40px;
}

.title h2 {
  margin: auto;
  font-size: 30px;
}

.footer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-top: 1px solid rgba(0,0,0, 0.2);
  overflow: auto;
}

.footer-text {
  text-align: left;
}
